.main {
  padding: 6.125rem 0 6.3125rem;
  background-image: url(../img/background-1\ 1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.main::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.main__wrap {
  align-items: center;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.left {
  width: 34rem;
  margin: 0 15px;
}
.main-logo {
  margin-bottom: 2.625rem;
}
.main-logo span {
  font-family: "Roboto";
  font-size: 3.75rem;
  font-weight: 400;
  color: #FFFFFF;
  text-transform: uppercase;
}
.main-logo span::after {
  content: 'IT';
  color: #EC7979;
}
.title_white_left {
  font-size: 2.25rem;
  text-transform: uppercase;
  font-family: "Raleway";
  font-weight: 400;
}
.title_white_left::after {
  content: "";
  display: block;
  width: 64px;
  height: 1px;
  margin: 34px 0;
}
.description_white_left {
  width: 282px;
  font-size: 0.875rem;
}
.download__link_left {
  margin: 39px 0 0;
}
.right {
  margin: 0 15px;
}
.main-form {
  width: 370px;
  background-color: #FFFFFF;
  border-radius: 8px;
  overflow: hidden;
}
.main-form-content {
  padding: 15px 59px 58px;
}
.main-form__title {
  font-size: 1.25rem;
  font-weight: 700;
  color: #333333;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 52px;
}
.main-form__title span {
  text-transform: uppercase;
  color: #EC7979;
}
.main-form__item {
  margin-bottom: 16px;
}
.main-form__item:last-child {
  margin-bottom: 0;
}
.main-form__input {
  display: block;
  font-family: "Open Sans";
  width: 100%;
  border: none;
  border-bottom: 1px solid #BDBDBD;
  outline: none;
}
.main-form__item label {
  font-size: 0.875rem;
  font-weight: 400;
  color: #BDBDBD;
}
.main-form-button {
  display: block;
  font-family: "Open Sans";
  width: 100%;
  height: 54px;
  border: none;
  background-color: #EC7979;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;

  transition: 0.3s;
}
.main-form-button:hover {
  background-color: #E75353;
}

